body {
  overflow-x: hidden;
}


/* ..........................NAVBAR............................. */


.searchbar {
  /* width: 540px; */
  width: 450%;
}

.logo {
  transform: scale(1.3);
  color: red;
}

.bell__icon {
  color: black;
  transform:scale(1.2);
}

.notifications {
  width: 50vw;
  height: 600px;
}

.notification__menu__bell__icon {
  font-size: 64px;
  position: absolute;
  top: 30%;
  left: 45%;
  color:grey;
}

.notifaction__menu__text {
  position: absolute;
  top:50%;
  left:34%;
  color:grey;
  font-size: 16px;
  font-weight: 600;
}

.dropdown__menu__icon{
  font-size: 16px;
  margin-right: 10px;
}

.dropdown-item {
  font-size: 14px;
  margin-bottom: 10px;
}

.dropdown-menu {
  border-radius: 0;
}

/* ...........................MAIN CONTENT.......................... */

.container__main {
  margin: 135px 25px 0 90px;
}

/* .content__row {
  height: 30%;
} */

.video__block {
  position: relative;
  background-color: white;
}

.video__block:hover {
  transform: scale(1.25);
  transition: ease;
  transition-delay: 1s;
  transition-duration: .75s;
  z-index: 10;

}

/* .video__info__block {
  float:right;
} */

.length__tag {
  position: absolute;
  background-color: black;
  opacity: calc(.85);
  width: 35px;
  color:white;
  font-size: 12px;
  font-weight: 550;
  border-radius: 2px;
  top: 135px;
  right: 15px;
  
}

.video {
display: none;
}

/* .video:hover::before {
  display: block;
} */

.length__tag__time {
  position: relative;
  text-align: center;
}

.video__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video__thumbnail__container {
  /* max-height: 155px; */
  /* position: relative; */
  height:155px;
}

.profile__picture {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  float:left;
}

.video__title {
  font-weight: 600;
  font-size: 14px;
}

.profile__name {
  font-size: 12px;
  color: rgb(83, 82, 82);
  font-weight: 500;
  margin-bottom: 0;
}

.video__views {
  color: rgb(83, 82, 82);
  font-weight: 500;
  font-size: 12px;
}

.muscle {
  object-position: top;
}

.soccer {
  object-position: 0 25%;
}

/* .artwork {
  object-fit: contain;
} */

@media screen and (min-width: 515px) and (max-width: 809px){
  .container__main {
    margin: 0;
  }
}

@media screen and (max-width: 514px) {
  .container__main {
    margin: 0 55px 0 55px;
  }
}